/* Headline */
.text-headline {
  font-family: Freesentation;
  font-size: 64px;
  font-weight: 800;
  font-style: normal;
  line-height: normal;
}

/* Heading 1 */
.text-h1 {
  font-size: 48px;
  font-weight: 700;
}

/* Heading 2 */
.text-h2 {
  font-size: 36px;
  font-weight: 700;
}

/* Heading 3 */
.text-h3 {
  font-size: 24px;
  font-weight: 600;
}

/* Heading 4 */
.text-h4 {
  font-size: 20px;
  font-weight: 500;
}

/* Body 1 */
.text-body {
  font-size: 16px;
  font-weight: 500;
}

/* Body 2 */
.text-body-sm {
  font-size: 14px;
  font-weight: 500;
}

/* Caption */
.text-caption {
  font-size: 12px;
  font-weight: 500;
}
