/* Headline */
.text-headline {
  font-family: "Freesentation", Arial, Helvetica, sans-serif;
  font-size: 64px;
  font-weight: 800;
  font-style: normal;
  line-height: normal;
  color: #FFF;
  text-align: center;
}

/* Heading 1 */
.text-h1 {
  font-size: 48px;
  font-weight: 700;
}

/* Heading 2 */
.text-h2 {
  font-size: 36px;
  font-weight: 700;
}

/* Heading 3 */
.text-h3 {
  font-size: 24px;
  font-weight: 600;
}

/* Heading 4 */
.text-h4 {
  font-family: "Freesentation", Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
}

/* Body 1 */
.text-body {
  font-size: 16px;
  font-weight: 500;
}

/* Body 2 */
.text-body-sm {
  font-family: "Freesentation", Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/* 네비게이션 링크 호버 효과 */
.nav-link {
  transition: color 0.3s ease;
  cursor: pointer;
  color: #FFF;
}

.nav-link:hover {
  color: #184BBA !important;
}

/* Caption */
.text-caption {
  font-size: 12px;
  font-weight: 500;
}

/* Logo */
.text-logo {
  font-family: "Freesentation", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 900;
  line-height: 15px;
}