@config "../../tailwind.config.ts";

/* Freesentation – 각 weight별 폰트 파일 정의 */
@font-face {
  font-family: "Freesentation";
  src: url("/fonts/Freesentation-4Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Freesentation";
  src: url("/fonts/Freesentation-5Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Freesentation";
  src: url("/fonts/Freesentation-7Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@import "tailwindcss";
@import "../styles/typography.css";

body {
  font-family: "Freesentation", Arial, Helvetica, sans-serif;
}
